<div class="starfleethead" style="position:fixed">
  <span class="navbar-toggler-bar"></span>
  <span class="navbar-toggler-bar"></span>
  <span class="navbar-toggler-bar"></span>
  <span class="navbar-toggler-bar"></span>
  <span class="navbar-toggler-bar"></span>
  <span class="navbar-toggler-bar"></span>
<ul class="nav nav-pills nav-justified">
  <li role="presentation" >
    <h1><i class="fa fa-fighter-jet">starfleet</i></h1>
  </li>
  <li role="presentation" class="active">
    <a class="btn-fleet" href="#">Accueil</a>
  </li>
  <li routerLinkActive="active"  role="presentation">
    <a class="btn-fleet" routerLink="contact">Contact</a>
  </li>
</ul>
</div>
