<div class="container-fluid">
  <div class="clearfix"> </div>
  <div class="row">
    <div class=" hideme col-md-8 col-md-offset-2"></div>
  </div>
  <div class="row hideme">
    <div class="col-md-6 col-md-offset-3"><h2 class="title-uppercase text-center">SPÉCIALISTE DE LA GESTION DE FLOTTE</h2>
      <router-outlet></router-outlet>
    
    </div>
  </div>
  <div class="row hideme">
    <div class="col-md-8 col-md-offset-2"><h4 class="text-center">Parce que chaque cas est spécifique, starfleet propose, en fonction de vos attentes et besoins, une solution de gestion
      de vos tournées de livraisons. Simple d’utilisation, ergonomique, exhaustif et flexible. Il est réfléchit pour
      être intégrable facilement et naturellement dans le work flow de votre entreprise.</h4>  
    
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3"><a href="https://github.com/ndembi/LangingPageStarfleet" class="btn btn-danger btn-round">TELECHARGER</a>
  </div></div>
</div>